.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-image {
  width: 50%;
}

.home-image img {
  width: 500px;
  background-size: cover;
  border-radius: 5px;
}

.home-text {
  width: 50%;
}

.home-text > h1,
.home-text > h5 {
  text-align: center;
}

.text-gray {
  color: #757575;
}

span {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 2px;
  color: #000;
}
